@font-face {
  font-family: 'Avenir-Heavy';
  src: url('Avenir-Heavy.eot');
  src: url('Avenir-Heavy.woff2') format('woff2'),
       url('Avenir-Heavy.woff') format('woff'),
       url('Avenir-Heavy.ttf') format('truetype'),
       url('Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
       url('Avenir-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

