/*
Theme Name: Dorking
Author: One Piece Media
Author URI: https://wwwonepiecemedia.com
Version: 4.5
*/
/*libs css*/
@import url('css/bootstrap.min.css');
@import url('font/fontawesome/css/all.min.css');
@import url('font/fontawesome/css/fontawesome.min.css');
@import url('css/index_style.css');
@import url('css/main.css');

/*MEGA MENU CUSTOMIZE START*/
#mega-menu-wrap-primary {
    background: #fff;
}
.mega-menu-link:hover{background: none !important; color: #4A4A4A !important;}
#mega-menu-primary .mega-welcome_li
.mega-toggle-on .mega-menu-link:focus{background: red !important;}
.mega-menu-wrap{width: 100% !important;}
#mega-menu-wrap-primary #mega-menu-primary {
    text-align: right !important;
}


#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {color: #4A4A4A;  }
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item.mega-toggle-on > a.mega-menu-link{
    background: none;
    color: #ffd300 !important;
    font-weight: normal;
    text-decoration: none;
    border-color: #fff;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu {
    height: 60vh;
    overflow-y: auto;
}

#mega-menu-wrap-primary #mega-menu-primary > li#mega-menu-item-40 > ul.mega-sub-menu {
    background-color: #0E7A67 ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-40:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-40:focus{ background-color: #0E7A67 ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-40 {background: #0E7A67; }

#mega-menu-wrap-primary #mega-menu-primary > li#mega-menu-item-43 > ul.mega-sub-menu {
    background-color: #BFA320 ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-43:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-43:focus{ background-color: #BFA320 ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-43 {background: #BFA320 }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44 > ul.mega-sub-menu {
    background-color: #799811 ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44:focus{ background-color: #799811 ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-44 {background: #799811 }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45 > ul.mega-sub-menu {
    background-color: #C87C0C ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45:focus{ background-color: #C87C0C ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-45 {background: #C87C0C }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46 > ul.mega-sub-menu {
    background-color: #11988F  ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46:focus{ background-color: #11988F  ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-46 {background: #11988F  }


#mega-menu-wrap-primary #mega-menu-primary > .mega-welcome_li.mega-toggle-on:active,#mega-menu-wrap-primary #mega-menu-primary > .mega-welcome_li.mega-toggle-on:focus{background: green;}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
    color: #fff;
}

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link:hover {
    color: #FFD300 !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.li_sub_head > a.mega-menu-link, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.li_sub_head > a.mega-menu-link  {
    color: #D8D8D8  !important;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu > li.li_sub_head > a.mega-menu-link:hover, #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.li_sub_head > a.mega-menu-link:hover{
    color: #D8D8D8  !important;
    cursor: initial;
}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on > a.mega-menu-link:focus,#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on > a.mega-menu-link:active,#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on > a.mega-menu-link:hover{
    color: #FFD300 !important;
    text-shadow: 0px 2px 4px #424040;
    font-family: Avenir-heavy;
}
#mega-menu-wrap-primary .mega-menu-toggle {
    background: none;   
}
#mega-menu-wrap-primary .mega-menu-toggle .mega-toggle-block-1:after{
    color: #4a4a4a;
    font-size: 30px;  
    top: 25px;
    position: relative;
    padding-left: 21px;
}
#mega-menu-wrap-primary{background: none !important;}
/*MEGA MENU CUSTOMIZE END*/

/*sticky   */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
    background: #f8f9fa;
    border-bottom: 1px solid #3FB4A0;
    left: 0px;
}
.search_icon{color: #c7c7cc;position: relative;top: 17px;cursor: pointer;}

.sticky #mega-menu-wrap-primary #mega-menu-primary{text-align: center !important;}

/*11-08-18 ajt start*/
.img-size{width : 100%; height : 100px;}

@media only screen and (min-width: 360px) {
    .img-size{ height : 160px;}
     
}
@media only screen and (min-width: 768px) {
    .img-size{ height : 215px;}
    #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu {
        position: fixed; 
        height: 100vh;
    }
    .pad0lg{padding: 0px !important;}
}
@media only screen and (min-width: 1200px) {
    .img-size{height : 250px;}
}

.sticky .logo_sticky{float: left;width: 15%;padding-top: 10px;}
.sticky .social_sticky{    width: 15%;float: right;    padding-top: 10px;padding-right: 10px;}
.sticky .container{float: left;width: 768px;margin: 0px; width: 70%;}
.es_button{padding: 0px !important}

/*11-08-18 ajt end*/


/* Savin Changes */
    .bkcolor-cyan1 {
        background: #73DBCE;
    }
    .bkcolor-cyan2 {
        background: #FFD300;
    }
      .bkcolor-cyan3 {
        background: #CBE338;
    }
/* End */


/*15-10-18 ajt start*/
.form-control.search_field.wp_autosearch_input{
    display: block !important;
    padding: .375rem .75rem !important;
    line-height: 1.5 !important;
    background-clip: padding-box !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    border: none !important;
    border-radius: 20px !important;
    height: calc(1.9rem + 2px) !important;
    background-color: #E8E8E8 !important;
    color: #8E8E93 !important;
    font-size: 17px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.input-group-append>.input-group-text.wp_autosearch_submit, .wp_autosearch_submit:hover, .wp_autosearch_submit:active, .wp_autosearch_submit:visited{
    height: 32px !important;
    width: 32px !important;
    position: relative !important;
    top: 0px !important;
    border: none !important;
    padding: 0 !important;
    display: block !important;
    left: 1px !important;
    border: none !important;
    border-radius: 20px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    cursor: pointer !important;
    background-color: #E8E8E8 !important; 
}
.form-control.search_field.wp_autosearch_input:focus{
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #80bdff !important;
    border-radius: 20px !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.1rem #E8E8E8 !important;
    z-index: 3 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.wp_autosearch_suggestions {
    width: 300px !important;
    margin-left: 12px !important;
    top: 99.7969px !important;
    box-shadow: none !important; 
    -webkit-box-shadow: none !important; 
}
/*15-10-18 ajt end*/

/*16-10-18 ajt start*/
.mtop10{margin-top: 10px;}
.mtop16{margin-top: 16px;}
.pright-5{padding-right: 5px;}
.pleft-5{padding-left: 5px;}
/*16-10-18 ajt end*/

/*17-10-2018 Ji start*/
.footer_black{color: #4a4a4a}
@media only screen and (max-width: 767px) {
    .menu-item-object-page , .menu-item-object-category{ padding-bottom: 4px;   }
    
    /*17-10-2018 AJT start*/
    .mega-menu-link:hover{background: none !important; color: #FFF !important;}

    #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {color: #FFF;  }
    #mega-menu-wrap-primary #mega-menu-primary > li#mega-menu-item-40 > ul.mega-sub-menu {
    background-color: #4A4A4A ;
}
#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item.mega-menu-megamenu > ul.mega-sub-menu { 
    width: 768px;
}

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-40:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-40:focus{ background-color: #4A4A4A;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-40 {background: #4A4A4A; }

#mega-menu-wrap-primary #mega-menu-primary > li#mega-menu-item-43 > ul.mega-sub-menu {
    background-color: #4A4A4A ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-43:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-43:focus{ background-color: #4A4A4A ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-43 {background: #4A4A4A }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44 > ul.mega-sub-menu {
    background-color: #4A4A4A ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-44:focus{ background-color: #4A4A4A ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-44 {background: #4A4A4A }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45 > ul.mega-sub-menu {
    background-color: #4A4A4A ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-45:focus{ background-color: #4A4A4A ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-45 {background: #4A4A4A }

#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46 > ul.mega-sub-menu {
    background-color: #4A4A4A  ;
}
#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46:active,#mega-menu-wrap-primary #mega-menu-primary > #mega-menu-item-46:focus{ background-color: #4A4A4A  ;}
#mega-menu-wrap-primary #mega-menu-primary > li.mega-toggle-on#mega-menu-item-46 {background: #4A4A4A  }
    

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item{
    width: 300px !important;
}
    /*17-10-2018 AJT END*/
     
}
#navbarSupportedContentMob #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item:last-child {
        border-bottom: none;
}
/*17-10-2018 Ji end*/
/*  Savin  */

.navigation .nav-links {

}

.magic-box-text-middle p{color: #4a4a4a !important;}
.view_more p {color: #fff !important;}
.magic-box-height:hover{opacity: 0.8;}
.transport_below_heading{    font-size: 18px; color: #4A4A4A; font-weight: bold;}
.color4a{color: #4a4a4a;}
.signup_condent p{font-size: 16px;color: #4a4a4a;}
.exploere_head{color: #4a4a4a;}
.search_txt_box{    border: 2px solid #D8D8D8;}
.pleft15{ padding: 0px 0px 0px 15px;}
.mtop3rem{margin-top: 3rem!important;}
.bdrstyle_input{border: 2px solid #D8D8D8;}
.ple3015{
    padding: 0px 15px 0px 30px;
}
#es_txt_button {
width:100% !important;
}


/*   jishnu changes   */


            .common-row1 .img_bulg:nth-child(2) .image_container img 
            { width: 398px; position: absolute;right: -26px;top: -4px; max-width: initial !important;}
             .common-row2 .img_bulg:nth-child(1) .image_container img 
            { width: 344px;   margin-left: auto; margin-right: auto;  position: relative; top: -71px;  right: 22px;}
             .common-row2 .img_bulg:nth-child(1) .magic-box-height .bk-orange-common
            {    z-index: 1111;  position: relative;}
            .common-row2 .img_bulg:nth-child(3) .image_container img 
            {     width: 221px;  position: relative; top: -73px;  right: 0px;}
           
           .common-row3 .img_bulg:nth-child(1) .image_container img 
            { width: 247px; margin-left: auto;  margin-right: auto;    position: relative;  top: -65px;}
         .common-row3 .img_bulg:nth-child(2) .image_container img 
            { width: 247px; margin-left: auto;  margin-right: auto;    position: relative;  top: -65px;}
             .common-row3 .img_bulg:nth-child(3) .image_container img 
            {    width: 429px; position: absolute;   right: -52px; top: -31px;  max-width: initial !important;}
            @media (min-width: 1200px)  {
                .sm-icon1{top: 201px; left: 6%;z-index: 9999; }
                .sm-icon2{top: 402px;  left: 39%;}
                .sm-icon3{    top: 115px; left: 52%;}
                .sm-icon4{right: 17%;top: 44px;  z-index: 9999; }
                .hovnext1{width: 85px;}
                .disp{width: 88px;top: -2px; position: relative;}
                .hovnext2{width: 95px;}
                .disp2{width: 99px;top: -2px; position: relative;}
                .hovnext3{width: 69px;}
                .disp3{width: 72px;top: -2px; position: relative;}
                .hovnext4{width: 64px;}
                .disp4{width: 67px;top: -2px; position: relative;}

            }
            @media (min-width: 992px) and (max-width: 1200px) {
                .sm-icon1{top: 171px; left: 7%;z-index: 9999; }
                .sm-icon2{top: 345px; left: 39%;}
                .sm-icon3{    top: 100px; left: 54%;}
                .sm-icon4{right: 19%;top: 54px;  z-index: 9999; }    
                .hovnext1{width: 68px;}
                .disp{width: 71px;top: -2px; position: relative;}
                .hovnext2{width: 83px;}
                .disp2{width: 86px;top: -2px; position: relative;}
                .hovnext3{width: 48px;}
                .disp3{width: 51px;top: -2px; position: relative;}
                .hovnext4{width: 48px;}
                .disp4{width: 51px;top: -2px; position: relative;}
                 .common-row2 .img_bulg:nth-child(1) .image_container img 
            { width: 344px;   margin-left: auto; margin-right: auto;  position: relative;     top: -50px;   right: 12px;}
             .common-row2 .img_bulg:nth-child(3) .image_container img 
            {     width: 200px;  position: relative; top: -68px;  right: 0px;}
                .common-row3 .img_bulg:nth-child(3) .image_container img 
            {     width: 356px;  position: absolute; right: -41px; top: -22px; max-width: initial !important;}
          .common-row1 .img_bulg:nth-child(2) .image_container img 
            {      width: 344px;  position: absolute;  right: -25px;   top: 1px; max-width: initial !important; }
            }

            @media (min-width: 767px) and (max-width: 992px) {
                   .common-row2 .img_bulg:nth-child(1) .image_container img 
            { width: 344px;   margin-left: auto; margin-right: auto;  position: relative;     top: -50px;   right: 12px;}
             .common-row2 .img_bulg:nth-child(3) .image_container img 
            {     width: 191px;  position: relative; top: -65px;  right: 0px;}
               
                .common-row3 .img_bulg:nth-child(1) .image_container img {
                   margin-left: auto;  margin-right: auto;  position: relative;   top: -64px; } 
                .common-row1 .img_bulg:nth-child(2) .image_container img 
            {width: 253px; position: absolute; right: -22px; top: 8px;  max-width: initial !important;}
            .common-row3 .img_bulg:nth-child(3) .image_container img 
            {    width: 260px; position: absolute; right: -24px; top: -12px; max-width: initial !important;}
              
            .sm-icon1{ top: 153px; left: 8%;   width: 43px;} 
                .sm-icon2{top: 262px;left: 42%;}
                .sm-icon3{    top: 113px; left: 52%;}
                .sm-icon4{right: 17%;top: 23px;   }  
                .hovnext1{width: 41px;}
                .disp{width: 43px;top: -2px; position: relative;}
                .hovnext2{width: 47px;}
                .disp2{width: 49px;top: -2px; position: relative;}
                .hovnext3{width: 30px;}
                .disp3{width: 32px;top: -2px; position: relative;}
                .hovnext4{width: 36px;}
                .disp4{width: 38px;top: -2px; position: relative;}

 .dorking_log img{width: 224px;}
            }
            @media only screen and (max-width: 767px) {  
                .sm-icon1{top: 39px; left: 8%; width: 29px; }
                .sm-icon2{top: 86px; left: 39%;}  
                .sm-icon2 img{width: 33px;}
                .sm-icon3{ top: 10px;  left: 49%;}
                .sm-icon3 img{width: 25px;}
                .sm-icon4 {right: 19%;top: 15px;  width: 24px;} 
                
                .hovnext1{width: 41px;}
                .disp{width: 43px;top: -2px; position: relative;}
                .hovnext2{width: 33px;}
                .disp2{width: 35px;top: -2px; position: relative;}
                .hovnext3{width: 25px;}
                .disp3{width: 27px;top: -2px; position: relative;}
                .hovnext4{width: 26px;}
                .disp4{width: 38px;top: -2px; position: relative;}
                
                .carousel-inner .carousel-item:nth-child(9) img 
                 {  bottom: 18px; width: 245px; position: relative;}
                 .carousel-inner .carousel-item:nth-child(8) img 
                 {      width: 185px; position: relative; bottom: 35px;}
                 .carousel-inner .carousel-item:nth-child(7) img 
                 {      width: 196px; position: relative; bottom: 35px;}
                 .carousel-inner .carousel-item:nth-child(6) img 
                 {      width: 156px; position: relative; bottom: 35px;}
                 .carousel-inner .carousel-item:nth-child(4) img 
                 {      width: 231px; position: relative; bottom: 35px;}
                 .carousel-inner .carousel-item:nth-child(4) .bk-orange-common 
                 {      position: relative;z-index: 11;} 
                 .carousel-inner .carousel-item:nth-child(2) img 
                 {  width: 287px;position: relative;bottom: 28px;}
                 
              

            } 
            .map_img_wrapper .container,.map_img_wrapper{padding: 0px !important;}
            .mr-right-n15{margin-right: -15px;}
            #content {
                margin: 0 auto;
            }

            .porfolio {
                position: relative;
            }

            .porfolio > div {
                position: absolute; 
            }

            .porfolio img {
                display: block;
                max-width: 100%;
                height: auto; 
            }
            .img-top,.img-top2,.img-top3,.img-top4 {
                display: none;
                position: absolute; 
                z-index: 99;
            }

            .disp_in {
                display: inline !important; position: relative;z-index: 9999;

            }  .dispnone{display: none !important;}