
/*COMMON IN ALL PAGES*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 501;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    display:block;
    color:#2a2a2a;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

li.dropdown{
    border-bottom:2px solid #2a2a2a;
}
li.show {
   /*transition: all 0.5s;*/
   background-color: initial;
}
.menu_items_cont{
    padding-top:0rem;
}
.dropdown-toggle[aria-expanded="false"]::after{
    border:none;
    color: #2a2a2a;
    float:right;
    font-size:35px;
    margin-right: 4%;
    position:relative;
    bottom:7px;
    content:"+";
}
.dropdown-toggle[aria-expanded="true"]::after{
    border:none;
    color: #fff;
    font-size:61px;
    float:right;
    margin-right: 4%;
    position:relative;
    bottom:7px;
    content:"-";
}
.sm_header_items{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right:5px;
}
.sm_header_items .fa{
    font-size: 1.25rem;
    padding-right: 25px;
}
a.dropdown-toggle{
    color:white !important;
}
.logo_sticky{
        display: none;
        padding: 2px 0px 5px 20px;
        /*left: 1%;*/
    }
    .social_sticky{display: none;}
	 .sticky .logo_sticky{display: block;}
    .sticky .social_sticky{display: block;}
    .input-group {
        width: 100%;
        float: right;
    }
	
	
.escapetodork{color: #3FB4A0; text-decoration: none !important;}
.escapetodork:hover{color: #41cab3;}

/*SEARCH SECTION*/
.search_items_lg .input-group-text{
    border: none;
    border-radius: 20px;
    cursor:pointer;
    background-color: #E8E8E8;
   
}
.search_items_lg .form-control:focus{
    box-shadow: 0 0 0 0.1rem #E8E8E8;
}
.search_items_group {
    position:absolute;
    top:45%;
    color:#fff;
}
.search_items_group .form-control{
   background-color: inherit;
   border: none;
   color:#2a2a2a;
   border-bottom: 1px solid #2a2a2a;
   padding: 2.375rem 2.75rem;
   font-size: 3rem;
}
.search_items_group .form-control::placeholder{
   color:#2a2a2a;
}
.search_items_group .form-control:focus{
  box-shadow :none;
}
.search_items_group .input-group-text{
      background-color: inherit;
      border:none;
      font-size: 3rem;
         color:#2a2a2a;
      margin-right: 2rem;
}
body{
    font-family: "Avenir-Light";
}
.header_top_section{
        padding:0rem 0rem;
        border:none;
}
.font_heavy{
    font-family: "Avenir-Heavy";
}
main {
    width:100%;
    overflow:hidden;
    max-width:100%;
    margin-top:32px;
}
.logo_sm{
    position:absolute;
    left:79%;
}

.search_field{
    border:none;
    border-radius: 20px;
    height: calc(1.9rem + 2px);
    background-color: #E8E8E8;
    color:#8E8E93;
    font-size:17px;
}
ul.header_social_links{
    float:right;
    overflow-x:hidden;
    white-space:nowrap; 
    margin-bottom: 0rem;
}
ul.header_social_links li{
    display:inline; 
    cursor:pointer;
}
.foot_head {
    margin-left: -15px;
}

/*.sticky + .content {
  padding-top: 102px;
}*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.02); }
.cursor-pointer{cursor: pointer;}
/*CUSTOMIZE MEGA MENU START*/
.mr-auto{margin-left: auto!important;}
.close_nav{
    font-size:26px;
    margin:0.5rem;
    color:#fff;
    cursor:pointer;
    float:right;
}
.menu_items_cont{
    padding-top:0rem;
}
.nav{
    margin-left: 15px;
}
.navbar-toggler{
        padding: 1.25rem .75rem;
}
.dropdown-toggle{
    font-size: 24px;
    font-weight:bold;
    padding:0.5rem 2rem;
}
.dropdown-menu {
    padding: 0; 
    margin: .65rem 0 0;
    top: 73% !important;
}
.navbar .dropdown-menu {
    border: none;
    background: none !important;
}

li.show > .nav-link{
    color:#FFD300 !important;
}
li.dropdown  > .nav-link{
    padding:1.2rem 1.4rem !important;
}

.dropdown-menu a{
    color:#fff !important;
    margin-left: 20px;
    padding: 0rem 1rem;
}
.dropdown-menu h4{
    color:#c9b2b2 !important;
}
.dropdown-menu .nav-item{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-family: "Avenir-Heavy";
    font-size: 24px;
}
.dropdown-menu a:hover{
    color:#FFD300 !important;
}



/*CUSTOMIZE MEGA MENU ENDS*/ 



/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}



/*INDEX PAGES*/

.vh-100{
    min-height: 90vh;
}
.section-padding{
    padding-top: 2rem; 
    padding-left: 20px;padding-right: 20px;
    /*padding-bottom: 2rem;*/
}
.ptop0{padding-top: 0px !important;} 
.section-padding-carousel{padding-left: 35px; padding-right: 35px;}
.color4a{color: #4A4A4A}
.pad0{padding: 0px;}
.font18{font-size: 18px;}
.paddingbtm10{padding-bottom: 10px;}
.bkash-color{background: #D8D8D8;}
.bk-orange-common{background: #F19103;}
.bkyellow-color{background: #FFD300;}
.bkcolor-cyan{background: #73DBCE;}
.bkcolor-green{background: #CBE338;}
.bklightblue{background: #3FB4A0;}
.bklightgreen{background: #9CC31A;}
.margintop25{margin-top: 25px;}
.font24{font-size: 24px;}
.font12{font-size: 12px; }
.font14{font-size: 14px;}
.font20{font-size: 20px;}
.search_result_head_size{font-size: 18px;}

.video-section-div{position: relative;}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image_container{
    height: 140px;
    padding-top: 40px;
}
.box-head-padding{padding: 20px 0px 28px 0px;}
.color-white{color: white;}

.magic-box-height{ 
    position: relative;
    width: 100%;
    height: 220px;
}

.magic-box-text-middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -90%);
    font-size: 14px;
}
.word-wrap{word-wrap: break-word;}
.mob_search_icon{
    color: #C7C7CC;
}
.page_name_text{
    color: #4a4a4a;
    text-align: left;
    fon-size : 14px;
}
.blw-vid-content-p-text-center{text-align: center;}

.video-section-loyalfree{
    position: relative;
}
.mob_view_overlay_button{position: absolute;
                         top: 82%;
                         left: 50%;
                         transform: translate(-50%, -50%);}
.mob_overlay_img{height:85vh}
.mob_view_overlay_button{background: #3FB4A0;
                         border: none;
                         color: white;
                         padding: 15px 50px;
                         text-align: center;
                         text-decoration: none;
                         display: inline-block;
                         font-size: 20px;
                         margin: 4px 2px;
                         border-radius: 4px;}
.carousel-indicators > li {
    border-radius: 12px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.carousel-indicators  > .active {
    background-color: #3FB4A0 !important;
}
.carousel-indicators{bottom: 5px;}
.overlay_img_txt{position: absolute;
                 top: 60%;
                 left: 44%;
                 transform: translate(-40%, -90%);
                 color: white;

} 


.overlay_img_txt_p{ font-size: 20px;}
.by_road_img{text-align: center;}
.by_public_transport_img{text-align: center;}
.by_footpath_img{text-align: center;}
.bl-vid-content{text-align: center;font-size: 18px;}
.blw-vid-content-p{font-size: 12px !important;}
.blw-explore-content-p{font-size: 12px;}
.transport_content_head{font-size: 24px; }
.explore_dorking_head{font-size: 24px;}
.transport_below_heading{font-size: 14px; color: #979797;}
.social_icons_mob{display: inline; padding-top: 10px;}
.social_icons_head_mob{padding: 15px;}
.download_head_mob{padding: 15px;padding-right: 8px;}
.download__icons_mob{padding-top: 5px;}
.social_icon_section{border-bottom: 3px solid #D8D8D8;}
.main_search_results_size{font-size: 18px;}


 /*ajt 15-10-2018 start*/
.load-more{transform: none;}

/*ajt 15-10-2018 end*/

/*TO BE CHANGED TO RESPONSIVE*/


 /*ajt 16-10-2018 start*/
@media only screen and (max-width: 359px) {
 .search_filter_div{ padding: 5px !important;}
 .search_filter_span{padding-left: 2px !important;}
 .search_filter_iframe{padding-right: 2px !important;}
}
/*ajt 16-10-2018 end*/

/*ajt 17-10-2018 start*/
/*#search_show.fa.fa-search:before {
    content: attr(data-before) ;
}*/
.search_icon_bar:before {
    content: ' ' !important;
}
.top-mole
    {
         padding-top:12px;
    }
/*ajt 17-10-2018 end*/

@media only screen and (min-width: 768px) {
    
#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    padding: 5px 25px 5px 25px !important;
/*    background: #fff;
    color: #000;*/
}
    .sticky #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {padding: 5px 7px 5px 10px !important;}
    main{
        margin-top: 0px;
    }
    .header_top_section{
         padding: 0.8rem 0.5rem;
    border-bottom: 1.5px solid #3FB4A0;
    }
    .sm_header_items{
        display:none;
    }
    a.dropdown-toggle{
        color:inherit !important;
    }
    .dropdown-toggle{
        border-bottom:none;
    }
    li.dropdown{
        border-bottom:none;
    }
    .menu_items_cont{
        padding-top:1.5rem;
    }
    li.dropdown  > .nav-link{
        padding:0.7rem 2rem !important;
    }
    .nav{
        margin-left: 0px;
    }
    .dropdown-menu a{
            margin-left: 0px;
            padding: .5rem 1rem;
        }
    .dropdown-toggle::after{
        border:none;
        color: #fff;
        float:none;
        margin-right: 0%;
        content:"";
    }
    .sidenav {
        height: 100%;
        width: 100%;
        position: static;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: visible;
        transition: 0.5s;
        padding-top: 0px;
    }
    .sidenav .closebtn {
        display:none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .welcome , .welcome_li.show{
          background-color: #0E7A67 ;
    }
    .geting_here , .getting_here_li.show{
        background-color: #BFA320 !important;
    }
    .explore_nav_div , .explore_li.show{
        background-color: #799811 !important;
    }
    .shop_nav_div , .shop_li.show{
         background-color: #C87C0C !important;
    } 
    .dorking_nav_div , .dorking_li.show{
        background-color: #11988F !important;
    }
    .dorking_log{
        margin:auto;
    }
    .bl-vid-content{text-align: left;}
    
      /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
      padding-top:0px;
      padding-bottom:0px;
    }
    .dropdown-toggle{
        font-size: 18px;
        font-weight:normal;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
      padding:.5rem .5rem;
      margin:0 .25rem;
    }
    ul.navbar-nav > li.nav-item{
        padding:0rem 0rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}
    
    .image_container {
        height: 152px;
    }
    .box-head-padding {
        padding: 21px 0px 16px 0px;
    }
    .common-row1 div:first-child .magic-box-height  {
        margin: 22px 22px 30px 0px;
    }
    .common-row1 div:nth-child(2) .magic-box-height  {
        margin: 22px 11px 30px 7px;;
    }
    .common-row1 div:nth-child(3) .magic-box-height  {
        margin: 22px 0px 30px 11px;
    }
    .common-row2 div:first-child .magic-box-height  {
        margin: 22px 22px 22px 0px;
    }
    .common-row2 div:nth-child(2) .magic-box-height  {
        margin: 22px 11px 30px 7px;
    }
    .common-row2 div:nth-child(3) .magic-box-height  {
        margin: 22px 0px 30px 11px;
    }
    .common-row3 div:first-child .magic-box-height  {
        margin: 22px 22px 22px 0px;
    }
    .common-row3 div:nth-child(2) .magic-box-height  {
        margin: 22px 11px 30px 7px;
    }
    .common-row3 div:nth-child(3) .magic-box-height  {
        margin: 22px 0px 30px 11px;
    }
    .transport-row div:first-child .transport_columns {
        margin: 22px 22px 30px 0px;
    }
    .transport-row div:nth-child(2) .transport_columns  {
       margin: 22px 22px 9px 10px;
    }
    .transport-row div:nth-child(3) .transport_columns  {
        margin: 22px 0px 10px 33px;
    }
    .transport-columns-w-100{ width: 100%}
    .magic-box-text-middle{
        transform: translate(-51%, -56%);
    }
    .blw-vid-content-size{font-size: 18px !important;}
    .by_road_img{text-align: center;}
    .blw-explore-content-p{font-size: 18px;}
    .blw-vid-content-p-text-center{text-align: left;}
    .magic-box-head-size{font-size: 14px;}
    .transport_below_heading{font-size: 18px;}
    .main_search_results_size{font-size: 24px;}
    .overlay_img_txt{top: 50%;} 
	.overlay_img_txt_p{ font-size: 20px;}
.by_road_img{text-align: center;}
.by_public_transport_img{text-align: center;}
.by_footpath_img{text-align: center;}
.bl-vid-content{ font-size: 18px;}
.blw-vid-content-p{font-size: 12px !important;}
/*.blw-explore-content-p{font-size: 12px;}*/
.transport_content_head{font-size: 24px; }
.explore_dorking_head{font-size: 24px;}
.transport_below_heading{font-size: 14px; color: #979797;}
.social_icons_mob{display: inline; padding-top: 10px;}
.social_icons_head_mob{padding: 15px;}
.download_head_mob{padding: 15px;padding-right: 8px;}
.download__icons_mob{padding-top: 5px;}
.social_icon_section{border-bottom: 3px solid #D8D8D8;}
.main_search_results_size{font-size: 18px;}

/*ajt 15-10-2018 start*/
.load-more{transform: translate(5%, 7%);}
.view_more{height: 232px;}
/*ajt 15-10-2018 end*/

	
}
/* breakpoint and up - mega dropdown styles */
@media screen and (max-width: 992px) {
  
.top-mole
    {
         padding-top:0px;
    }
    .atcm_mrtop{
        margin-top: -5px;
    }   

}

@media only screen and (min-width: 1200px) {
    .transport-row div:nth-child(2) .transport_columns  {
       margin: 22px 14px 30px 19px;
    }
    .overlay_img_txt_p{font-size: 36px;}
    .transport_content_head{font-size: 36px;}
    .explore_dorking_head{font-size: 36px;}
    .magic-box-text-middle{font-size: 18px;}
    .magic-box-head-size{font-size: 18px;}
    .magic-box-height {
        height: 232px;
    }
    .search_result_head_size{font-size: 24px;}
    .main_search_results_size{font-size: 36px;}
    .top-mole
    {
         padding-top:12px;
    }
}
/*ajt 14-10-2018 start*/
.img_height{
    height: 152px;
    width: 100%;    
    }
.image_container_pad0{padding-top: 0px !important;}
.section-padding a {
    text-decoration: none !important;
}
.section-padding-carousel a{text-decoration: none !important;}
.mr-left-n15{margin-left: -15px;}
.search_items_lg{width: 340px;}

/*ajt 14-10-2018 end*/

/*ajt 16-10-2018 start*/
 .overscroll{overflow: hidden;}
 .search_filter_div{    border-radius: 20px;
                        background: #3fb4a0;
                        color: white;
                        padding: 10px;}
 .search_filter_span{padding-left: 8px;}
 .search_filter_iframe{float: right;
                        position: relative;
                        top: 4px;
                        padding-right: 5px;
                        cursor: pointer;}
 
/*ajt 16-10-2018 end*/

/*ajt 17-10-2018 start*/
.logo_mob{padding-left: 55px}
/*ajt 17-10-2018 end*/

/*ajt 18-10-2018 start*/
.close_new{color: #C7C7CC;
          position: relative;
          z-index: 2222222;
          float: right;
          font-size: 26px;
          padding-right: 22px;
          cursor: pointer; 
          display: none;}

.sticky .close_new{top: 50px ;}
/*ajt 18-10-2018 end*/

/*   IMPORT FONTS   */
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../font/Avenir-Heavy.eot');
    src: url('../font/Avenir-Heavy.woff2') format('woff2'),
        url('../font/Avenir-Heavy.woff') format('woff'),
        url('../font/Avenir-Heavy.ttf') format('truetype'),
        url('../font/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
        url('../font/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('avenirltstd-light.eot');
    src: url('../font/avenirltstd-light.woff2') format('woff2'),
        url('../font/avenirltstd-light.woff') format('woff'),
        url('../font/avenirltstd-light.ttf') format('truetype'),
        url('../font/avenirltstd-light.svg#avenirltstd-light') format('svg'),
        url('../font/avenirltstd-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

