/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 Sep, 2018, 12:43:54 PM
    Author     : HepSoft
*/


/*COMMON STYLE*/
body{
    font-family: "Avenir-Light";
}
.cyan{
    color:#3FB4A0;
}
.font_heavy{
    font-family: "Avenir-Heavy";
}
h4{
    font-size:24px;
}
.font18{
    font-size: 18px;
}
/*BREADCRUMB*/
.breadcrumb{
    background-color: #fff;
    font-size:14px;
}
.breadcrumb a{
    color:#6c757d;
}
.breadcrumb-item.active{
    color:#4A4A4A;
}
.postion_relative{position: relative;}
.text-left{text-align: left;}

/*LANDING PAGE*/

.blocks_ul{
    list-style-type: none;
    width: 100%;
}
.blocks_ul li{
    width:50%;
    padding: 1px;
    float: left;
}
.search_options_wrapper{
    font-size:14px;
}
.search_txt_box{
    display: block;
    margin:auto;
    width:100%;
    font-size:18px;
    border-radius: 5px;
    padding:8px 8px;
}
.category_block{
    opacity:1;
    background-color: #d3d2d2;
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}
.category_block:hover , .box-head-padding:hover{
    opacity:0.8;
}
.category_block p{
    margin-top:32%;
    font-family: "Avenir-Heavy";
    font-size: 14px;
}
.category_name{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: white;
}
.category_block .img-fluid{
    width:75%;
}
.category_icon{
    position:  absolute;
    top: 20%;
    left: 20%;
}
.fa-bars{
    color:black;
}
.bg-blue{
    background-color: #3FB4A0;
}
.bg-green{
    background-color: #9CC31A;
}
.bg-yellow{
    background-color: #FFCB00;
}
.bg-orange{
    background-color: #F19103;
}
.bg-grey{
    background-color: #9B9B9B;
}
.bg-lightgreen{
    background-color: #9CC31A;
    opacity:0.5;
}
.bg-peach{
    background-color: #FFE57E;
}
.bg-lightblue{
    background-color: #3FB4A0;
}
.bg-lightpeach{
    background-color: #F8C77F;
}


/*SHOP*/
.description{
    /*min-height: 400px;*/
    min-height: 320px;
    text-align: center;
}
.description p{
    font-size: 12px;
}
.box_div_mr{margin-left: -40px; margin-right: 0px;}
.planvisit_font_size{font-size: 24px;}
/*HIGHSTREET*/
.block_bgimg{
    background-image: url(../images/highstreet/tile_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*EXPLORE */
.exploere_head{font-size: 24px;}
.search_by_cat{font-size: 12px}
.explore_desc_p{padding: 0px 20px 0px 20px;font-size: 12px;}
/*FOOTER*/
footer{
    font-size: 14px;
    border-top: 10px solid #3FB4A0;
        padding-top: 25px;
}
/*.footer_links_ul_head{cursor: pointer; font-size: 20px;}*/
footer .foot_head{
    font-size: 16px;
        padding: 0px 0px 0px 15px;
}
.footer_logo_1 {
    transform: translate(0%, -15%);
}
.footer_logo_2 {
    transform: translate(0%, 40%);
}
.footer_logo_3 {
    transform: translate(0%, 40%);
}
.footer_logo_4 {
    transform: translate(0%, 12%);
}
.footer_dorking_download{text-align: left;}   
.email_field{
    background-color: #B8EBE5; 
    border-radius:5px;
    width: 100%;
    padding:5px;
    border: 1px solid #979797;
    box-shadow: 0px 0px 2px #ababab;
}
.sign_btn{
    background-color: #F19103;
    border:#979797;
    color:#fff;
}
.links_wrapper h6{
    font-size:20px;
    cursor: pointer; 
}
.links_wrapper a {
    margin-bottom: 1rem;
    font-size: 17px;
        color: #4A4A4A;
}
.links_wrapper ul{
    list-style: none !important;
        line-height: 1.2;
}
.marbot{margin-bottom: 0.2rem;}

.overlay_img_txt_getting{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-40%, -90%);
    color: white;
    text-align: center;
}
.overlay_img_txt_getting_p{font-size: 14px;}
.overlay_img_txt_loyal_p{font-size: 14px;}
.pl-15{padding-left: 15px;} 
.pr-15{padding-right: 15px;}
.pl-20{padding-left: 20px;}
.pr-20{padding-right: 20px;}
.pl-35{padding-left: 35px;}
.pr-35{padding-right: 35px;}
.explore_conten_p{font-size: 12px;}
.overlay_img_txt_loyal{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-40%, -90%);
    color: white;
    text-align: center;
}
.pl2rem{padding-left: 2rem;}

/* MAP LANDING PAGE*/
.bk-gray{background-color: #4A4A4A;}
.img_view_more{transform: translate(0%, 70%); padding-top: 0px;}
.min_height_mapland{min-height: 0px !important;}
.overlay_button{
    position: absolute;
    right: 4%;
    bottom: 8%;
    color: white;
    padding: 5px 10px;
    background: #ffd300;
    border: none;
}


/*CHECK BOX STYLE */
.border_search_results{border: 1px solid #D8D8D8; padding: 40px;}
.checkbox_span{
    margin-left: 30px;
    font-size: 18px;
    transform: translate(0%, 8%);
}
input[type=checkbox] {
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
    top: 0;
    left: 0;
    transform: scale(1.3);
}

input[type=checkbox]:after {
    content: " ";
    background-color: #D8D8D8;
    display: inline-block;
    color: #00BFF0;
    width: 18px;
    height: 19px;
    visibility: visible;
    border: 1px solid #97979724;
    border-radius: 5px;
}

input[type=checkbox]:checked:after {
    content: "\2714";
    display: unset;
    font-weight: bold;
}
/*.footer_links_ul{
   display: none;
}*/
.links_wrapper_mobview_style{
    padding: 16px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 20px;
}
.links_wrapper_mobview_style h6[aria-expanded="false"]::after{
    border: none;
    color: #4a4a4a;
    float: right;
    margin-right: 6%;
    font-size: 25px;
    position: relative;
    bottom: 1px;
    content: "+"
}
.links_wrapper_mobview_style h6[aria-expanded="true"]::after{
    border: none;
    float: right;
    margin-right: 5%;
    font-size: 40px;
    position: relative;
    bottom: 16px;
    content: "-";
}

.links_wrapper h6[aria-expanded="true"]{
    padding: 10px 5px;
    background: #3fb4a0;
    color: #fff;
}


@media only screen and (min-width: 768px) {
    .blocks_ul li{
        width:20%;
    }
    .category_block .img-fluid{
        width:60%;
    }
    .overlay_img_txt_getting_p{font-size: 18px;}
    .overlay_img_txt_loyal_p{font-size: 18px;}
    /*.overlay_img_txt_getting{
                     top: 58%;
    }*/
    .blw-vid-content-p {
        font-size: 18px !important;
    }
    .description{
        text-align: left;
    }
    .description p{
        font-size: 18px;
    }
    .search_by_cat{font-size: 18px}
    .explore_desc_p{font-size: 18px;}
    .explore_conten_p{font-size: 18px;}
    .overlay_button {
        padding: 10px 35px;
    } 
    .search_txt_box{
        width:60%;
    }
    .search_checkbox_input {
        height: 27px;
        width: 27px;
    }
    .search_checkbox_label {
        transform: translate(30%, -25%);
        font-size: 18px;
    }
    .footer_logo_1{
        transform: translate(0%, 0%);
    }
    .footer_logo_2{
        transform: translate(-10%, 42%);
    }
    .footer_logo_3{
        transform: translate(10%, 35%);
    }
    .footer_logo_4{
        transform: translate(40%, 35%);
    }
    .footer_dorking_download{text-align: center;}
    .links_wrapper_mobview_style{
        padding: 0px;
        border-bottom: none;
    }
    .collapse:not(.show) {
        display: block;
    }
    .links_wrapper h6{
        font-size:14px;
    }
    .links_wrapper a{
        margin-bottom: 0rem;
        font-size:14px;
    }
    .marbot{margin-bottom: 0rem;}
    .links_wrapper a {
        margin-bottom: 0rem;;
    }
    .img_view_more{padding-top: 40px;}
    .seach_by_category.pl-20{padding-left: 20px !important;}
    .seach_by_category.pl-20{padding-right: 20px !important;}

}
@media only screen and (min-width: 992px) {
    .footer_logo_1{
        transform: translate(0%, -15%);
    }
    .footer_logo_2{
        transform: translate(-12%, -8%);
    }
    .footer_logo_3{
        transform: translate(40%, 6%);
    }
    .footer_logo_4{
        transform: translate(100%, 12%);
    }
}


@media only screen and (min-width: 1200px) {
    .category_block .img-fluid{
        /*        width:100%;*/
    }
    .overlay_img_txt_getting_p{font-size: 36px;}
    .overlay_img_txt_getting{
        top: 50%;
    }
    .overlay_img_txt_loyal_p{font-size: 36px;}
    .overlay_img_txt_loyal{
        top: 50%;
    }
    .planvisit_font_size{font-size: 36px;}
    .exploere_head{font-size: 36px;}
    .box_div_mr {
        margin-left: -100px;
        margin-right: -100px;
    }
    .overlay_button {
        padding: 15px 40px;
    } 
    .search_checkbox_input{
        height: 35px;
        width: 35px;
    }
    .search_checkbox_label{
        transform: translate(25%, -40%);
        font-size: 18px;
    }
    .checkbox_span{
        margin-left: 45px;
        font-size: 18px;
        transform: translate(0%, 30%);
    }
    input[type=checkbox] {
        transform: scale(2.3);
    }


}

/* 16-10-2018 ajt start */
.seach_by_category.pl-20{padding-left: 0px;}
.seach_by_category.pl-20{padding-right: 0px;}
/* 16-10-2018 ajt end */





/*   IMPORT FONTS   */
@font-face {
    font-family: 'Avenir-Heavy';
    src: url('../font/Avenir-Heavy.eot');
    src: url('../font/Avenir-Heavy.woff2') format('woff2'),
        url('../font/Avenir-Heavy.woff') format('woff'),
        url('../font/Avenir-Heavy.ttf') format('truetype'),
        url('../font/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
        url('../font/Avenir-Heavy.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Light';
    src: url('avenirltstd-light.eot');
    src: url('../font/avenirltstd-light.woff2') format('woff2'),
        url('../font/avenirltstd-light.woff') format('woff'),
        url('../font/avenirltstd-light.ttf') format('truetype'),
        url('../font/avenirltstd-light.svg#avenirltstd-light') format('svg'),
        url('../font/avenirltstd-light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


